   * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif
        }

        body {
            background: #0b1120;
            color: #e5e7eb;
            line-height: 1.7
        }

        a {
            text-decoration: none;
            color: inherit
        }

        header {
            background: #020617;
            position: sticky;
            top: 0;
            z-index: 100
        }

        nav {
            max-width: 1100px;
            margin: auto;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center
        }

        nav h1 {
            color: #38bdf8;
            font-size: 1.4rem
        }

        nav ul {
            list-style: none;
            display: flex;
            gap: 1.2rem
        }

        nav ul li a:hover {
            color: #38bdf8
        }

        section {
            max-width: 1100px;
            margin: auto;
            padding: 4rem 1rem
        }

        h2 {
            font-size: 2.2rem;
            text-align: center;
            margin-bottom: 2rem
        }

        .hero {
            text-align: center;
            padding: 5rem 1rem
        }

        .hero h2 span {
            color: #38bdf8
        }

        .hero p {
            max-width: 750px;
            margin: 1rem auto
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
            gap: 1.5rem
        }

        .card {
            background: #020617;
            padding: 1.5rem;
            border-radius: 14px;
            transition: .3s
        }

        .card:hover {
            transform: translateY(-6px);
            box-shadow: 0 12px 25px rgba(56, 189, 248, .25)
        }

        .card h3 {
            color: #38bdf8;
            margin-bottom: .5rem
        }

        .skills {
            display: flex;
            flex-wrap: wrap;
            gap: .7rem;
            justify-content: center
        }

        .skill {
            border: 1px solid #38bdf8;
            padding: .5rem 1rem;
            border-radius: 999px
        }

        footer {
            background: #020617;
            text-align: center;
            padding: 1.5rem
        }

        @media(max-width:768px) {
            nav ul {
                display: none
            }
        }